<% content_for :title do %>
    Página Personalizada 🚀
  <% end %>
  
  <% content_for :sidebar do %>
    <ul>
      <li><a href="#">Enlace 1</a></li>
      <li><a href="#">Enlace 2</a></li>
      <li><a href="#">Enlace 3</a></li>
    </ul>
  <% end %>
  
  <h2>Bienvenido a la Página Personalizada 🎉</h2>
  <p>Este es el contenido principal renderizado dentro de <code><%= yield %></code>.</p>
  